/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#checkeredBack {
  display: none;
}

/******* Header ***************/
header {
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
}

.siteName {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.siteName a {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

#tools {
  font-family: Arial, Helvetica, sans-serif;
}

#tools a {
  color: black;
  text-decoration: none;
}

/******* Navigation ***************/
nav {
  margin: 0 10px;
}

nav ul {
  margin: 0 auto;
  padding: 15px 10px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
}

nav ul li a:hover {
  color: black;
  background-color: white;
}

/******* Main ***************/
main {
  margin: 10px;
}

h1 {
  font-size: 20px;
  text-align: center;
  width: 382px;
  display: flex;
  justify-content: left;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
}

/*** Hero ***/
#hero {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 382px;
  height: 200px;
  margin: 0 auto;
}

#heroText {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 112px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
}

#heroText p {
  margin: 0;
  color: #004e8a;
  font-family: Arial, Helvetica, sans-serif;
}

#heroText p:nth-child(1) {
  padding: 5px 0;
  font-weight: bold;
}

#heroText img {
  width: 100px;
  height: 30px;
}

#heroImage {
  width: 305px;
  height: 155px;
  position: relative;
  z-index: 1;
  margin-left: 38px;
}

#heroImage img {
  width: 300px;
  height: 153px;
}

#bottomMainCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*** Car Review ***/
#carReview {
  max-width: 351px;
  min-width: 350px;
}

.carReview {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
} 

#carReview li {
  padding: 8px 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*** Car Upgrade ***/
.carUpgrade {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  grid-column: span 2;
} 

#carUpgrade {
  display: grid;
  grid-template-columns: 160px 160px;
  grid-gap: 7px;
  justify-content: center;
  align-items: center;
  max-width: 351px;
  min-width: 350px;
}

.cardBackground {
  background-color: #004e8a;
  width: 160px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upgradeCard {
  display: flex;
  flex-direction: column;
}

.upgradeCard a {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Inventory Grid Display ***************/
#inv-display {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

#inv-display li {
  width: 200px;
  height: 250px;
  margin: 10px;
  border: solid lightgray 2px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#inv-display li a img {
  width: 100%;
  border-radius: 5px;
}

.namePrice hr {
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

.namePrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
}

.namePrice h2 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.namePrice span {
  font-family: Arial, Helvetica, sans-serif;
}

/******* Inventory Grid Display ***************/
#inv-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#inv-item-image {
  width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#inv-item-image img{
  width: 350px;
  height: auto;
  vertical-align: center;
}

#inv-item-details {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 20px;
}

#inv-item-details > * {
  margin: 0px;
  padding: 20px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#inv-item-details > *:nth-child(even) {
  background-color: #f0efef;
}

#inv-item-details p {
  padding: 20px 10px;
}

.itemName {
  font-size: 16px;
}

/******* Account Login Page ***************/
#account-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: center;
  border-radius: 5px;
}

#account-form > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#account-form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#account-form-submit {
  width: 60px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#account-form a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

#account-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Account Register Page ***************/
#register-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: center;
  border-radius: 5px;
}

#register-form > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#register-form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#register-form-submit {
  width: 60px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#register-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Vehicle Management Page ***************/
#managementView {
  width: 382px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

#managementView > * {
  padding: 10px 0;
}

/******* Add Classification Form Page ***************/
#add-classification-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: center;
  border-radius: 5px;
}

#add-classification-form > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#add-classification-form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#add-classification-submit {
  width: 120px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#add-classification-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Add Inventory Form Page ***************/
#add-inventory-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: center;
  border-radius: 5px;
}

#add-inventory-form  > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#add-inventory-form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#add-inventory-submit {
  width: 120px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#add-inventory-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#add-inventory-form option {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Edit Inventory Form Page ***************/
#edit-inventory-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: center;
  border-radius: 5px;
}

#edit-inventory-form  > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#edit-inventory-form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#edit-inventory-submit {
  width: 120px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#edit-inventory-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#edit-inventory-form option {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Delete Inventory Form Page ***************/
#delete-inventory-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: center;
  border-radius: 5px;
}

#delete-inventory-form  > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#delete-inventory-form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#delete-inventory-submit {
  width: 120px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#delete-inventory-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#delete-inventory-form option {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Edit Account Form ***************/
#edit-account-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: left;
  border-radius: 5px;
}

#edit-account-form   > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#edit-account-form  label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#edit-account-form-submit {
  width: 120px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#edit-account-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#edit-account-form  option {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Change Account Password Form ***************/
#change-password-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  background-color: #004e8a;
  padding: 20px;
  justify-self: left;
  border-radius: 5px;
}

#change-password-form  > * {
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 5px;
}

#change-password-form label {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#change-password-submit {
  width: 120px;
  margin: 5px auto;
  font-family: Arial, Helvetica, sans-serif;
}

#change-password-form div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

#change-password-form option {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

#changePass {
  font-size: 20px;
  text-align: center;
  width: 382px;
  display: flex;
  justify-content: left;
  margin: 10px auto;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Inventory Management Table ***************/
#inventoryDisplay {
  border: 2px solid #004e8a;
  border-radius: 5px;
}

#inventoryDisplay tr {
  font-family: Arial, Helvetica, sans-serif;
}

#inventoryDisplay td {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.manage-inventory-font {
  font-family: Arial, Helvetica, sans-serif;
}

#manage-inventory-header {
  font-size: 20px;
}

#inventoryTableSection {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 10px auto;
  width: 382px;
}

/******* Account Management Page ***************/
.managementHeader {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Notice Message ***************/
.notice {
  color: red;
  list-style: none;
}

/******* Footer ***************/
footer {
  margin: 15px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/******* Larger Views ***************/

@media only screen and (min-width: 721px) {
  #carReview {
    order: 2;
  }
}

@media only screen and (min-width: 770px) {
  body {
    margin: 0;
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    width: 95%;
    background-color: #fff;
    margin: 0 auto;
    border: 5px solid #004e8a;
    border-radius: 10px;
    margin: 30px auto;
    max-width: 900px;
  }

  #hero {
    width: 600px;
    height: auto;
    margin: 20px auto;
  }

  #heroImage {
    width: 500px;
    height: 208px;
  }

  #heroImage img {
    width: 400px;
    height: 204px;
    margin: 0 auto;
  }

  h1 {
    text-align: left;
    width: 382px;
    display: flex;
    justify-content: left;
    margin: 10px;
  }

  #managementView {
    text-align: left;
    width: 382px;
    display: flex;
    justify-content: left;
    margin: 10px;
    margin-left: 40px;
  }

  #inventoryTableSection {
    text-align: left;
    width: 382px;
    display: flex;
    justify-content: left;
    margin: 10px;
    margin-left: 40px;
  }

  #changePass {
    text-align: left;
    width: 382px;
    display: flex;
    justify-content: left;
    margin: 10px;
  }

}